Repository yiisoft/form, pull requests merged in 2024-07, with the labels that each got.

#345 Docs additions, field configuration
  docs/guide/en/README.md
  docs/guide/en/field-configuration.md
  docs/guide/en/field-methods.md
  docs/guide/en/field-themes.md
  docs/guide/en/pure-fields.md
  docs/internals.md
Labels: status:code review, type:docs

#347 Docs additions, fixes for "Creating custom fields"
  docs/guide/en/creating-custom-fields.md
  docs/guide/en/field-methods.md
Labels: status:code review, type:docs

#349 Docs additions, rename `setInputId()` method
  docs/guide/en/field-configuration.md
  docs/guide/en/field-methods.md
Labels: status:code review, type:docs

#348 Rename `setInputId()` method
  src/Field/Base/InputField.php
  src/Theme/Theme.php
  tests/Field/Base/InputFieldTest.php
  tests/Field/TextTest.php
  tests/Theme/ThemeTest.php
Labels: status:code review, type:task

#317 Docs
  README.md
  docs/guide/en/README.md
  docs/guide/en/built-in-fields.md
  docs/guide/en/creating-custom-fields.md
  docs/guide/en/creating-forms.md
  docs/guide/en/field-configuration.md
  docs/guide/en/field-methods.md
  docs/guide/en/fields-configuration.md
  docs/guide/en/fields/button-group.md
  docs/guide/en/fields/button.md
  docs/guide/en/fields/checkbox-list.md
  docs/guide/en/fields/checkbox.md
  docs/guide/en/fields/date-time-local.md
  docs/guide/en/fields/date.md
  docs/guide/en/fields/email.md
  docs/guide/en/fields/error-summary.md
  docs/guide/en/fields/fieldset.md
  docs/guide/en/fields/file.md
  docs/guide/en/fields/hidden.md
  docs/guide/en/fields/image.md
  docs/guide/en/fields/number.md
  docs/guide/en/fields/password.md
  docs/guide/en/fields/radio-list.md
  docs/guide/en/fields/range.md
  docs/guide/en/fields/select.md
  docs/guide/en/fields/submit-button.md
  docs/guide/en/fields/telephone.md
  docs/guide/en/fields/text.md
  docs/guide/en/fields/textarea.md
  docs/guide/en/fields/time.md
  docs/guide/en/fields/url.md
  docs/guide/en/input-data.md
  docs/guide/en/pure-fields.md
  docs/guide/en/validation-rules-enrichment.md
  docs/internals.md
  src/Field/Base/DateTimeInputField.php
  src/Field/Base/EnrichFromValidationRules/EnrichFromValidationRulesInterface.php
  src/Field/Base/InputData/InputDataInterface.php
  src/PureField/InputData.php
  tests/Field/TextTest.php
Labels: status:code review, type:docs

#350 Add support for mutiple elements in `ariaDescribedBy()`
  composer.json
  docs/guide/en/field-methods.md
  src/Field/Base/ButtonField.php
  src/Field/Base/DateTimeInputField.php
  src/Field/Checkbox.php
  src/Field/Email.php
  src/Field/File.php
  src/Field/Image.php
  src/Field/Number.php
  src/Field/Password.php
  src/Field/Range.php
  src/Field/Select.php
  src/Field/Telephone.php
  src/Field/Text.php
  src/Field/Textarea.php
  src/Field/Url.php
  tests/Field/Base/ButtonFieldTest.php
  tests/Field/Base/DateTimeInputFieldTest.php
  tests/Field/CheckboxTest.php
  tests/Field/EmailTest.php
  tests/Field/FileTest.php
  tests/Field/ImageTest.php
  tests/Field/NumberTest.php
  tests/Field/PasswordTest.php
  tests/Field/RangeTest.php
  tests/Field/SelectTest.php
  tests/Field/TelephoneTest.php
  tests/Field/TextTest.php
  tests/Field/TextareaTest.php
  tests/Field/UrlTest.php
Labels: type:enhancement, status:code review

#352 Use infection directly, fix mutants
  .github/workflows/mutation.yml
  composer.json
  docs/internals.md
  tests/Field/Base/DateTimeInputFieldTest.php
  tests/Field/EmailTest.php
  tests/Field/FileTest.php
  tests/Field/NumberTest.php
  tests/Field/PasswordTest.php
  tests/Field/RangeTest.php
  tests/Field/SelectTest.php
  tests/Field/TelephoneTest.php
  tests/Field/TextTest.php
  tests/Field/TextareaTest.php
  tests/Field/UrlTest.php
Labels: status:code review, dependencies

#351 Move out setting of validation rules enricher from theme container
  .github/workflows/mutation.yml
  composer.json
  config/bootstrap.php
  config/params.php
  docs/guide/en/field-configuration.md
  docs/guide/en/field-methods.md
  docs/guide/en/validation-rules-enrichment.md
  docs/internals.md
  src/Field/Base/DateTimeInputField.php
  src/Field/Base/EnrichFromValidationRules/EnrichFromValidationRulesInterface.php
  src/Field/Base/EnrichFromValidationRules/EnrichFromValidationRulesTrait.php
  src/Field/Email.php
  src/Field/File.php
  src/Field/Number.php
  src/Field/Password.php
  src/Field/Range.php
  src/Field/Select.php
  src/Field/Telephone.php
  src/Field/Text.php
  src/Field/Textarea.php
  src/Field/Url.php
  src/Theme/Theme.php
  src/Theme/ThemeContainer.php
  tests/Field/Base/DateTimeInputFieldTest.php
  tests/Field/EmailTest.php
  tests/Field/FileTest.php
  tests/Field/NumberTest.php
  tests/Field/PasswordTest.php
  tests/Field/RangeTest.php
  tests/Field/SelectTest.php
  tests/Field/TelephoneTest.php
  tests/Field/TextTest.php
  tests/Field/TextareaTest.php
  tests/Field/UrlTest.php
  tests/Support/NullValidationRulesEnricher.php
  tests/Theme/ThemeTest.php
Labels: status:code review, type:task

#355 Minor docs fixes
  docs/guide/en/input-data.md
  docs/guide/en/pure-fields.md
Labels: type:docs

#354 Fix remaining mutants
  .github/workflows/mutation.yml
  src/Field/Base/PartsField.php
  src/Field/Checkbox.php
  src/Field/RadioList.php
  src/Field/Select.php
  tests/Field/Base/PartsFieldTest.php
  tests/Field/CheckboxTest.php
  tests/Field/RadioListTest.php
  tests/Field/SelectTest.php
Labels: type:test

#358 Add empty string support in `Number` field
  src/Field/Number.php
  tests/Field/NumberTest.php
Labels: status:code review
